/* html实体 enity */
/* w3c star */
.enity-star::before{
	content: "\2727\2003\2003\2727\2003\2003\2727";
}

/* 字体 */
.f12{
	font-size: 12px;
}
.f13{
	font-size: 13px;
}
.f14{
	font-size: 14px;
}
.f15{
	font-size: 15px;
}
.f16{
	font-size: 16px;
}