*{
	margin: 0;
	padding: 0;
}
body{
	background: #999;
}
div{
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;
}
.cloth{
	background: #fff;
	background-size: 30px 30px;
	background-image: linear-gradient(90deg,
		                rgba(200, 0, 0, .5) 50%, transparent 0),
		              linear-gradient(
		              	rgba(200, 0, 0, .5) 50%, transparent 0);
}
.cloth2{
	background: #58a;
	background-image: 
		linear-gradient(white 1px, transparent 0),
		linear-gradient(90deg, white 1px, transparent 0);
	background-size: 30px 30px;
}
.cloth3{
	background: #58a;
	background-image:
		linear-gradient(white 2px, transparent 0),
		linear-gradient(90deg, white 2px, transparent 0),
		linear-gradient(hsla(0, 0%, 100%, .3) 1px, transparent 0),
		linear-gradient(90deg, hsla(0, 0%, 100%, .3) 1px, transparent 0);

	background-size: 75px 75px, 75px 75px,
					15px 15px, 15px 15px;
}
.bg-radial-1{
	background: #655;
	background-image: radial-gradient(tan 30%, transparent 0);
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
	/*background-repeat: no-repeat;*/
}
.chess-box{
	background: #eee;
	background-image: 
		linear-gradient(#bbb 50%, transparent 0),
		linear-gradient(90deg, #eee 50%, #bbb 0);
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
	/*background-position: 15px 15px;*/
}