/* 视觉效果 */
.box{
	width: 200px;
	height: 160px;
	background:yellowgreen;
	margin: 10px;
}
.clip-box{
	background: 
		linear-gradient(135deg, transparent 15px, yellowgreen 0) left top,
		linear-gradient(45deg, transparent 15px, yellowgreen 0) left bottom,
		linear-gradient(-135deg, transparent 15px, yellowgreen 0) right top,
		linear-gradient(-45deg, transparent 15px, yellowgreen 0) right bottom;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
.box-shadow{
	box-shadow: 0px 5px 4px -4px black;
}
.box-shadow2{
	box-shadow: 3px 3px 6px -3px black;
}
.box-shadow-2{
	box-shadow: -5px 0 5px -5px black,
				5px 0 5px -5px black;
}
/* 滤镜 */
.filter-box-shadow2{
	filter:drop-shadow(2px 2px 10px rgba(0, 0, 0, .5));
}
.img-box{
	display: inline-block;
	background: hsl(335, 100%, 50%);
}
.filter-img{
	transition: 2s filter;
	filter: sepia(1) saturate(4) hue-rotate(295deg);
	mix-blend-mode: luminosity;
}
.filter-img:hover{
	filter:none;
}
.tint-image{
	width: 640px;height: 440px;
	background-size: cover;
	background-color: hsl(335, 100%, 50%);
	background-image: url(../../../images/spider-man.jpg);
	background-blend-mode: luminosity;
	transition: 2s background-color;
}
.tint-image:hover{
	background-color: transparent;
}
/* 毛玻璃效果 */
#body,
main::before{
	background: url(../../../images/spider-man.jpg) 0 / cover fixed;
}
main{
	background: hsla(0,0%,100%, .3);
	position: relative;
}
main::before{
	content: '';
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	background:rgba(225,0,0,.5);
	z-index: -1;
	filter: blur(20px);
	margin: -30px;
	overflow: hidden;
}