/*
* Code by He Ke
*/
/*
引入字体
*/
@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/quattrocentosans-regular-webfont.eot");
  src: url("../fonts/quattrocentosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-regular-webfont.woff") format("woff"), url("../fonts/quattrocentosans-regular-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-regular-webfont.svg#QuattrocentoSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ====================== */
header,footer,p,h1{
    margin: 0;
    padding: 0;
}
body{
    font: 62.5% "Wellfleet","Quattrocento Sans","Arial",serif;
/*    background-image: url(../images/header-bg.jpg);*/
    background-attachment: fixed;
    color:#fff;
}
a{
    text-decoration: none;
}
/*头部*/
header{
    width: 100%;
    height: 80px;
    background: url(../images/header-bg.png);
    position: fixed;
    top: 20px;
}
nav{
    width: 1050px;
    margin: 0 auto;
}
nav ul{
    display: inline-block;
    float: right;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    text-align: center;
    padding: 0 1em;
    text-align: center;
    font-size: 2em;
    line-height: 80px;
    color: #fff;
}
nav li a:hover{
    color:coral;
    text-decoration: underline;
}
nav li:hover ul{
    height: 86px;
}
nav ul ul{
    height: 0;
    overflow: hidden;
    transition: height .3s ease-in;
}
nav li li{
    float: none;
}
nav li li a{
    line-height: 40px;
    border-bottom: 3px solid #eee;
    background-image: url(../images/background.png)
}
nav li li a:hover{
    text-decoration: none;
}
footer{
    padding: 1em 0;
    background: #000;
}
footer p{
    text-align: center;
    font-size: 1.5em;
    font-family: "Arial";
}
.wrapper>div{
    height: 680px;
}
.slide1,.slide3,.slide5{
    background-attachment: fixed;
}
.slide2,.slide4{
    color: #444;
}
.slide1{
    background-image: url(../images/slide1.jpg);
}
.slide2{
    background-color: #fff;
}
.slide3{
    background-image: url(../images/slide3.jpg);
}
.slide4{
    background-color: #fff;
}
.slide5{
    background-image: url(../images/slide5.jpg);
}
.quotoes{
    font-size: 4em;
    width: 1050px;
    margin: 0 auto;
    position: relative;
    top: 40%;
}